h1 {color: greenyellow; 
    cursor: pointer;
    background-color: black;
}
h2{
    color:black;
}
body {background-color: blue;
border: 5px solid violet};
html{
    height: 100%;
    margin: 0;
    padding: 0;}

.welcome2{
    cursor:pointer;
}

    h3 {cursor: pointer;
    }

